{% block stylesheets %}

    <style>
        nav img{
            max-height:100px;
            margin:auto;
        }
        nav {
            text-align: center;
            border-top:4px solid #29ABE2;
            position: fixed;
            z-index: 2;
            background: #fff;
            width: 100%;

            -webkit-box-shadow: 0px 2px 2px #a9a9a9;
            -moz-box-shadow: 0px 2px 2px #a9a9a9;
            box-shadow: 0px 2px 2px #a9a9a9;
        }
        .container-fluid.header_wrapper{
            min-height:70px;
            padding:0;
        }
        .logIn {
            position: absolute;
            right:10px;
            top:10px;
        }
        .logIn input {
            width:auto !important;
            padding:0 !important;
        }
    </style>
{% endblock %}
<div class="container-fluid header_wrapper">
    <nav class="header_parent">

        <div class="row">
            <figure>
                <img src="{{ asset('Resources/img/img-logo.png') }}" alt="logo">
            </figure>
        </div>

        {% set currentPath = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}
        {% if currentPath == '/hr_tool/web/app_dev.php/home' %}
        <div class="logIn">
            <form method="post" action="{{ path('home') }}">
                <input type="text" placeholder="user" name="user" id="user">
                <input type="text" placeholder="password" name="password" id="password"><br>
                <button class="success" type="submit">Sign in</button>
            </form>
        </div>
        {% endif %}
    </nav>
</div>